executor {
    name = 'pbspro'
    queueSize = 3
}

process {
    executor = 'pbspro'
    queue = 'cdb'
    cpus = 1
    memory = 16.GB

    withName: 'fastp' {
        module = 'fastp/0.23.2'
        cpus = 8
        memory = 16.GB
    }

    withName: 'megahit' {
        module = 'megahit/1.2.9:seqkit/2.4.0'
        cpus = 16
        memory = 200.GB
    }

    withName: 'coverm' {
        module = 'coverm/0.6.1'
        cpus = 8
        memory = 64.GB
    }

    withName: 'metabat2' {
        module = 'MetaBAT2/2.15.15'
    }

    withName: 'prodigal' {
        module = 'prodigal/2.6.3'
    }

    withName: 'hmmsearch_with_NCVOGs' {
        module = 'hmmer/3.3.2'
        cpus = 8
        memory = 64.GB
    }
    
    withName: 'classify_NCLDV_bin' {
        module = 'Python/3.9.5'
    }

    withName: 'viralrecall' {
        module = 'viralrecall/2.1'
        cpus = 8
        memory = 64.GB
    }

    withName: 'virsorter2' {
        module = 'VirSorter/2.2.3'
        cpus = 8
        memory = 64.GB
    }

    withName: 'CAT' {
        module = 'CAT/5.2.3'
        cpus = 8
        memory = 64.GB
    }

    withName: 'hmmsearch_with_NCLDV_149_hmm' {
        module = 'hmmer/3.3.2'
        cpus = 8
        memory = 64.GB
    }
    
    withName: 'summarize_assessment' {
        module = 'Python/3.9.5'
    }

    withName: 'hmmsearch_with_hallmark_genes' {
        module = 'hmmer/3.3.2'
        cpus = 8
        memory = 64.GB
    }
    
    withName: 'detect_hallmark_genes_from_bin' {
        module = 'Python/3.9.5'
    }

    withName: 'detect_hallmark_genes_from_bin' {
        module = 'Python/3.9.5'
    }

    withName: 'validate_ncldv_bin' {
        module = 'Python/3.9.5'
    }

    withName: 'remove_cellular_contig' {
        module = 'seqkit/2.4.0'
    }

    withName: 'find_delineage_candidate' {
        module = 'Python/3.9.5:seqkit/2.4.0:csvtk/0.26.0'
    }

    withName: 'count_tetramer' {
        module = 'cgat'
    }

    withName: 'delineage_bin' {
        module = 'Python/3.9.5'
    }

    withName: 'postdelineage' {
        module = 'cgat:seqkit/2.4.0:csvtk/0.26.0'
    }

    withName: 'second_decontamination' {
        module = 'Python/3.9.5'
    }
}
