executor {
    name = 'pbspro'
    queueSize = 1
}

process {
    executor = 'pbspro'
    queue = 'cdb'
    cpus = 4
    memory = 16.GB

    withName: 'fastp' {
        module = 'fastp/0.23.2'
    }

    withName: 'megahit' {
        module = 'megahit/1.2.9'
        cpus = 16
        memory = 200.GB
    }

    withName: 'coverm' {
        module = 'seqkit/0.16.1'
        cpus = 8
        memory = 64.GB
    }

    woithName: 'metabat2' {
        module = 'MetaBAT2/2.15.15'
    }
} 
